<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Ordine</title>
  <style>
    body { font-family: Arial, sans-serif; }
    .message { margin: 20px; padding: 20px; border: 1px solid #f0f0f0; background-color: #f9f9f9; }
    .header { color: #333; }
    .content { margin-top: 20px; }
    .footer { margin-top: 40px; font-size: 0.9em; color: #777; }
  </style>
</head>
<body>
<div class="message">
  <h2 class="header">Ordine cancellato</h2>
  <div class="content">
    TEMP ORDINE CANCELLATO
  </div>
</div>
</body>
</html>