<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Documento Allegato</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .message { margin: 20px; padding: 20px; border: 1px solid #f0f0f0; background-color: #f9f9f9; }
        .header { color: #333; }
        .content { margin-top: 20px; }
        .footer { margin-top: 40px; font-size: 0.9em; color: #777; }
    </style>
</head>
<body>
<div class="message">
    <h2 class="header">Busta paga</h2>
    <div class="content">
        Gentile Dipendente,<br><br>
        In allegato troverai il documento relativo alla tua busta paga. Ti invitiamo a consultarla e per qualsiasi dubbio o ulteriore informazione, non esitare a contattarci.
        <br><br>
        Cordiali saluti,
    </div>
    <div class="footer">
        La Direzione<br>
        Gilda De Marco
    </div>
</div>
</body>
</html>